<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink = '/home' routerLinkActive = 'active'>主页</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li >
          <a routerLink = '/movie' routerLinkActive = 'active'>电影 
            <!-- <span class="sr-only" >(current)</span> -->
          </a>
        </li>
        <li><a routerLink = '/television' routerLinkActive = 'active'>电视剧</a></li>
        <li><a routerLink = '/animation' routerLinkActive = 'active'>动漫</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left">
                <input type="text" [(ngModel)]="searchValue" name = "searchValue" class="form-control" placeholder="Search">
              <button (click)="getSeachResult()" class="btn btn-default">搜索</button>
            </form>
        <li *ngIf="nickName"><a href="#">欢迎您,{{nickName}}</a></li>
        <li><a href="#">帮助</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/user/details/1" >注册</a></li>
            <li><a routerLink="/login/details">登录</a></li>
            <li *ngIf="nickName"><a (click)="removeStorage()">注销</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">联系我们</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>
