<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink='/home' routerLinkActive='active'>主页</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink='/movie' routerLinkActive='active'>电影
            <!-- <span class="sr-only" >(current)</span> -->
          </a>
        </li>
        <li><a routerLink='/television' routerLinkActive='active'>电视剧</a></li>
        <li><a routerLink='/animation' routerLinkActive='active'>动漫</a></li>
        <li *ngIf="auth==1"><a routerLink='/manage' routerLinkActive='active'>管理</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <form class="navbar-form navbar-left">
                      <input type="text" [(ngModel)]="searchValue" name = "searchValue" class="form-control" placeholder="Search">
                    <button (click)="getSeachResult()" class="btn btn-default">搜索</button>
                  </form> -->
        <li *ngIf="nickName"><a href="#">欢迎您,{{nickName}}</a></li>
        <li><a href="#">帮助</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/user/details/1">注册</a></li>
            <li><a routerLink="/login/details">登录</a></li>
            <li *ngIf="nickName"><a (click)="removeStorage()">注销</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">联系我们</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<div class="container-fluid">
<div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">search for...</button>
        </span>
        <input type="text" [(ngModel)]="title" name='title' class="form-control" placeholder="影片名称">
      </div>
    </div>

    <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">search for...</button>
          </span>
          <input type="text" class="form-control" [(ngModel)]="actor" name='actor' placeholder="演员">
        </div>
      </div>

      <div class="form-group col-md-2">
          <select class="selectpicker show-tick col-md-12"
           style="height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;" title="影片类别" data-live-search="true" [(ngModel)]="type" name='type'>
            <option value="0">--请选择影片类别--</option>
            <option value="1">电影</option>
						<option value="2">电视剧</option>
						<option value="3">动漫</option>
					</select>
      </div>

      <div class=" col-md-2" ></div>
      <div class=" col-md-2"><button class="btn btn-primary col-md-6" (click)="searchResult()">查询</button><button class="btn btn-primary col-md-6" (click)="cancalSearch()">取消</button></div>
      <div></div>
  </div><!-- /.row -->
<!-- </div> -->
<!-- <div class="container-fluid"> -->
<div class="row">
  <div class="col-md-10"></div>
  <button class="col-md-2 btn btn-primary" style="margin-bottom:20px;" (click)="openModal('')">新增影片</button>
</div>

<table class="table table-bordered .table-hover ">
  <tr class="info">
    <th style="text-align:center">名称</th>
    <th style="text-align:center">演员</th>
    <th style="text-align:center">类别</th>
    <th style="text-align:center">上映时间</th>
    <th style="text-align:center">简介</th>
    <th style="text-align:center">操作</th>
  </tr>
  <tr *ngFor="let item of data.data.content">
    <td class=" col-md-2">{{item.title}}</td>
    <td class=" col-md-2">{{item.actor}}</td>
    <td class=" col-md-2" *ngIf="item.type==1">电影</td>
    <td class=" col-md-2" *ngIf="item.type==2">电视剧</td>
    <td class=" col-md-2" *ngIf="item.type==3">动漫</td>
    <td class=" col-md-2">{{item.showTime}}</td>
    <td class=" col-md-2">{{item.smallDescible}}</td>
    <td class=" col-md-2">
      <div class="row">
        <a class="col-md-3" type="button" (click)="openModal(item)">编辑</a>
        <a class="col-md-6" type="button"  routerLink="/managedetails/{{item.tableKey}}/{{item.title}}" >配置详情</a>
        <a class="col-md-3" type="button" (click)="deleteData(item)">删除</a>
      </div>
    </td>
  </tr>
</table>

<!-- 分页条 -->
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a (click)="getListPage(1,10)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let item of totalPages">
      <a *ngIf="item == '...'" disabled="disabled">...</a>
      <a *ngIf="item != '...'" (click)="getListPage(item,10)">{{item}}</a>
    </li>
    <li>
      <a (click)="getListPage(data.data.totalPages,10)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


   
<bs-modal #modal cssClass="main-modal">
  <bs-modal-header>
      <h4 class="modal-title" *ngIf="item.tableKey">编辑影片</h4>
      <h4 class="modal-title" *ngIf="!item.tableKey">新增影片</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="row" style="margin-top: 40px;">
      <div class="col-md-3"><label for="title" >标题</label></div>
      <div class="col-md-9"> <input type="text" name = "title" [(ngModel)]="item.title" class="form-control" id="title" placeholder="标题"></div>
  </div>
  <div class="row" style="margin-top: 40px;">
      <div class="col-md-3"><label for="actor" >演员</label></div>
      <div class="col-md-9"> <input type="text" name="actor" [(ngModel)]="item.actor" class="form-control" id="actor" placeholder="演员"></div>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-3"><label for="item.actor" >类型</label></div>
    <div class="form-group col-md-9">
      <select class="selectpicker show-tick col-md-12"
       style="
       height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;" title="影片类别" data-live-search="true" [(ngModel)]="item.type" name='type'>
        <!-- <option value="0">--请选择影片类别--</option> -->
        <option value="1">电影</option>
        <option value="2">电视剧</option>
        <option value="3">动漫</option>
      </select>
  </div>  
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-3"><label for="describeInfo" >描述</label></div>
    <div class="col-md-9"> <input type="text" name="describeInfo" [(ngModel)]="item.describeInfo" class="form-control" id="describeInfo" placeholder="描述"></div>
</div>
<div class="row" style="margin-top: 40px;">
  <div class="col-md-3"><label for="showTime" >上映时间</label></div>
  <div class="col-md-9"> <input type="date" name="describeInfo" [(ngModel)]="item.showTime" class="form-control" id="showTime" placeholder="上映时间"></div>
</div>
<div class="row" style="margin-top: 40px;">
  <div class="col-md-3"><label for="picture" >图片地址</label></div>
  <div class="col-md-9"> <input type="text" name="item.picture" [(ngModel)]="item.picture" class="form-control" id="describeInfo" placeholder="图片地址"></div>
</div>
  </bs-modal-body>
  <bs-modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancalSubmit()">取消</button>
      <button type="button" class="btn btn-primary" (click)="submitData()">提交</button>
      <!-- modal.close() modal.dismiss() -->
  </bs-modal-footer>
</bs-modal>
</div>

<router-outlet></router-outlet>
