<app-common [type] = 'type' #common (provinceOut)="provinceOut($event)"></app-common>
<div class="container-fluid">
  <div class="row">
    <!-- 侧边栏 -->
    <div class="col-md-2" style="border-right:1px solid #000; text-align: left">

      <button class="btn btn-info col-md-12" (click)="getNewTelevision()">最近更新</button>
      <span *ngIf="openNewTelevision">
        <button class="btn btn-default col-md-12" routerLink="/television/details/2/{{item.tableKey}}" *ngFor="let item of newTelevisions.data">
          {{item.title}}</button>
      </span>
      <br>
      <button class="btn btn-info col-md-12" (click)="getHotTelevision()">热门排行</button>
      <span *ngIf="openHotTelevision">
        <button class="btn btn-default col-md-12" routerLink="/television/details/2/{{item.tableKey}}" *ngFor="let item of hotTelevisions.data">
          {{item.title}}</button>
      </span>
      <br>
      <!-- <button class="btn btn-default col-md-12" (click)="getHotAnimation()">候补</button>
      <span *ngIf="openAnimation">
        <button class="btn btn-default col-md-12" routerLink="/home/details/3/{{item.tableKey}}" *ngFor="let item of hotAnimations.data">
          {{item.title}}</button>
      </span>
      <br> -->
    </div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="bs-example" data-example-id="thumbnails-with-custom-content">
          <div class="row">
            <div class="col-sm-6 col-md-3" *ngFor="let item of data.data.content">
              <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" src='{{item.picture}}' data-holder-rendered="true"
                  style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                  <h3>{{item.title}}</h3>
                  <p>{{item.actor}}</p>
                  <p>{{item.describeInfo}}</p>
                  <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="#" routerLink="/television/details/2/{{item.tableKey}}"
                      class="btn btn-default" role="button">播放</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 分页条 -->
<nav aria-label="Page navigation">
    <ul class="pagination">
      <li >
        <a (click)="common.getListPage(2,1,10)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let item of totalPages"><a (click)="common.getListPage(2,item,10)">{{item}}</a></li>
      <li >
        <a (click)="common.getListPage(2,data.data.totalPages,10)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>