<div class="container-fluid">
  <div class="row" >
       <!-- 侧边栏 -->
        <div class="col-md-4" style="border-right:1px solid #000; text-align: left">
            <br>
            <span style="font-weight:bold ">片名: {{data.data.title}}</span>
            <br>
            <span style="font-weight:bold ">演员: {{data.data.actor}}</span>
            <br>
            <span style="font-weight:bold ">类型: </span>
                <span *ngIf="data.data.type == 1">电影</span>
                <span *ngIf="data.data.type == 2">电影</span>
                <span *ngIf="data.data.type == 3">电视剧</span>
            <br>
            <img [src]='data.data.picture' />
            <br>
            <span style="font-weight:bold ">上映时间: </span>{{data.data.showTime}}
            <br>
            <span style="font-weight:bold ">影片介绍: </span>{{data.data.describeInfo}}
            <br>
        </div>
        <div class="col-md-8" *ngIf="safeURL">
            <vg-player class="col-md-12" style="background-color: rgba(255,255,255,0.2)">
                <video [vgMedia]="media" #media id="singleVideo" preload="auto"  controls>
                    <source [src]="safeURL" type="video/mp4">
                </video>
            </vg-player>
        </div>
    </div>
</div>