<div class="container-fluid">
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row">
          <div class="col-sm-6 col-md-4" *ngFor="let item of data.data" >
              <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" src='{{item.picture}}'  data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                  <h3>{{item.title}}</h3>
                  <p>{{item.actor}}</p>
                  <p>{{item.describeInfo}}</p>
                  <p><a href="#" class="btn btn-primary" role="button">点赞</a> <a href="#" routerLink="/animation/details/3/{{item.tableKey}}" class="btn btn-default" role="button">播放</a></p>
                </div>
              </div>
            </div>
  
        </div>
      </div>
    </div>

  <!-- 分页条 -->
<nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>